.messagesContainer {
    background: #3a5d5d;
    grid-area: cont;

    display: grid;
    grid-template-areas: 'user text';

    grid-template-rows: auto 2fr;
    grid-template-columns: 3fr 9fr;
    border-radius: 10px;
}

.messageUser {
    grid-area: user;

}

.massageText {
    grid-area: text;
}