.headerContainer {
  grid-area: header;
  background: #fff;
  border-radius: 5px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .btn {

    padding: 3px 15px;
    background: #5c5cdc;
    color: #fff;
    border-radius: 20px;
    border: none;

    &:hover {
      cursor: pointer;
      background: #3535d9;
    }
  }
}