.headerContainer {
    grid-area: head;
    background: #faf7f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;

    & img {
        width: 60px;
        height: 60px;
    }
}