nav {
  grid-area: navBar;
  display: grid;
  padding: 20px;
  background: #fff;
  width: fit-content;
  height: fit-content;
  border-radius: 5px;

  & a {
    padding-bottom: 10px;
    text-decoration: none;
    color: #000;

    &:hover {
      cursor: pointer;

    }
  }

}